body {
  background-image: url("assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Untuk mengisi tinggi layar secara penuh */
  padding: 20px; /* Padding untuk memberi ruang di sekitar konten */
  border: 2px solid #ccc; /* Border untuk menandai batas container */
  border-radius: 10px; /* Membuat sudut container lebih membulat */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.745); /* Bayangan untuk efek tiga dimensi */
}

.container-play {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} 

.inner-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.inner-container img {
  width: 200px;
  height: 200px;
  margin: 10px;
  margin-top: 50px;
  cursor: pointer;
  border-radius: 10px; /* Membuat sudut gambar membulat */
  transition: transform 0.3s; /* Efek transisi untuk transformasi */
}

.inner-container img:hover {
  transform: scale(1.1); /* Memperbesar gambar saat dihover */
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  margin: 10px;
  text-align: center;
}

.image-name {
  margin-top: 5px;
  font-size: 14px;
  font-weight: bold; /* Membuat tebal */
  color: #000; /* Warna teks hitam */
  text-align: center;
}

.instrument {
  width: 200px;
  height: 200px;
  margin: 10px;
  cursor: pointer;
}

.bottom-left {
  background-color: #ffcc00; /* Warna latar belakang */
  color: #fff; /* Warna teks */
  padding: 10px 50px; /* Padding tombol */
  border: none; /* Menghilangkan border */
  border-radius: 10px; /* Membuat sudut tombol melengkung */
  font-size: 16px; /* Ukuran teks */
  position: fixed; 
  cursor: pointer; /* Mengubah kursor saat diarahkan ke tombol */
  bottom: 20px;
  left: 200px; 
}

.bottom-left:hover {
  background-color: #ff9900; /* Warna latar belakang saat tombol dihover */
}

.loader {
  border: 4px solid #000; /* Mengubah warna border menjadi hitam */
  border-radius: 10px; /* Membuat sudut loader lebih membulat */
  width: 250px; /* Lebar loader diperbesar */
  height: 40px; /* Tinggi loader diperbesar */
  animation: stretch 350ms infinite alternate;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes stretch {
  0% { width: 20px; }
  100% { width: 250px; } /* Lebar maksimum diperbesar */
}


.play-button-img {
  width: 250px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s; /* Efek transisi untuk transformasi */
}

.play-button-img:hover {
  transform: scale(1.1); /* Memperbesar gambar saat dihover */
}

h1 {
  font-size: 50px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}